<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="Author" content="Luca Graef, Jonas Kloos, Sven Rust">
    <meta name="description" content="Benzinpreise">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='marker.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <div id="links">{% block links %}
        <div class="links">
            <title>FahrHeiter SWF</title>
            <img class="logo" src="{{url_for('static', filename='logo.png')}}" alt="Fahr Heiter Logo."/>
            <a class="block" href="{{ url_for('start')}}" class="active">Start</a>
            <a class="block" href="{{ url_for('tankstellenliste.show')}}" class="active">Tankstellen</a>
            {% if session['loggedin'] == True %}
                <a class="block" href="{{url_for('tankstellenliste.favorites')}}" class="active">Favoriten</a>
                <a class="block" href="{{url_for('logout')}}" class="active">Logout</a>
            {% else %}
                <a class="block" href="{{ url_for('login') }}" class="active">Login</a>
                <a class="block" href="{{ url_for('register') }}" class="active">Registrieren</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <div class="content">{% block content %}
        {%endblock%}
    </div>
</body>

<footer>
    {% block footer %}
        <a class="about" href="{{ url_for('about') }}">About</a>
    {% endblock %}
</footer>
</html>