<div class="links">
    <a href="" class="active">Start</a>
    <a href="{{ url_for('tankstellenliste.show')}}" class="active">Tankstellen</a>
    {% if session['loggedin'] == True %}
    <a href="{{url_for('tankstellenliste.favorites')}}" class="active">Favoriten</a>
    <a href="{{url_for('logout')}}" class="active">Logout</a>
    {% else %}
    <a href="{{ url_for('login') }}" class="active">Login</a>
    <a href="{{ url_for('register') }}" class="active">Registrieren</a>
    {% endif %}
</div>

<div>
    <div>
        <iframe src="http://127.0.0.1:8080/karte" title="Tankstellenkarte"></iframe>
    </div>
    <div>
        <p>Bester Preis</p>
    </div>
</div>