<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block links %}
    {{ super () }}
{% endblock %}

{% block content %}

<main>
    <div>
        <h2>Alle Tankstellen:</h2>
        <form action="{{ url_for(action) }}" method="post">
            <table>
                {%for t in tankstellen%}
                <tr>
                    <th><a href="{{ url_for('tankstelle.tankstelle', tankstelle_id=t[1]) }}"> {{ t[0] }}</a></th>
                    {% if session['loggedin'] == True %}
                        {% if t[1] in usertankstellen %}
                            <th><input type="checkbox" name='{{t[1]}}_checkbox' id='{{t[1]}}_checkbox' checked></th>
                        {% else %}
                            <th><input type="checkbox" name='{{t[1]}}_checkbox' id='{{t[1]}}_checkbox'></th>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% if session['loggedin'] == True %}
                <input type="submit" value="Speichern">
            {% endif %}
        </form>
    </div>
</main>
{% endblock %}
</html>