<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Author" content="Luca Graef, Jonas Kloos, Sven Rust">
    <meta name="description" content="Benzinpreise">
</head>

<body>
<h1>Benzinpreise</h1>
<main>
    <div>
        <h2>Alle Tankstellen:</h2>
        <form action="{{ url_for(action) }}" method="post">
            <table>
                {%for t in tankstellen%}
                <tr>
                    <th><a href="{{ url_for('tankstellenliste.tankstelle', tankstelle_id=t[1]) }}"> {{ t[0] }}</a></th>
                    {% if session['loggedin'] == True %}
                        {% if t[1] in usertankstellen %}
                            <th><input type="checkbox" name='{{t[1]}}_checkbox' id='{{t[1]}}_checkbox' checked></th>
                        {% else %}
                            <th><input type="checkbox" name='{{t[1]}}_checkbox' id='{{t[1]}}_checkbox'></th>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Speichern">
        </form>
    </div>
</main>
</body>
</html>