
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block links %}
    {{ super () }}
{% endblock %}

{% block content %}
	<div class="block">
        <h1>Wir bedanken uns bei: </h1>
        <p> Bei <a href="https://www.tankerkoenig.de/">Tankerkönig</a> für die Bereitstellung der Daten.</p><br>
        <h1>Unser Dank gilt ebenfalls: </h1>
        <p><a href="https://github.com/google/material-design-icons">Google Material Design</a></p>
        <p><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Simpleicons_Places_map-marker-point.svg/485px-Simpleicons_Places_map-marker-point.svg.png">Wikimedia</a></p>
        <p><a href="https://pixabay.com/de/vectors/hase-cliparts-ausgabe-schnell-icon-1298864/">OpenClipart-Vectors</a></p>
    </div>

{% endblock %}

