<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="Author" content="Luca Graef, Jonas Kloos, Sven Rust">
    <meta name="description" content="Benzinpreise">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='marker.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <div id="links">{% block links %}
        <div class="links">
            <title>FahrHeiter SWF</title>
            <img class="logo" src="{{url_for('static', filename='logo.svg')}}" alt="Fahr Heiter Logo."/>
            <a class="block" title="Home" href="{{ url_for('start')}}" class="active">
                <img class="menuicon" src="{{url_for('static', filename='home.svg')}}" alt="Home">
            </a>
            {% if session['loggedin'] == True %}
                <a class="block" href="{{url_for('tankstellenliste.favorites')}}" class="active">
                    <img class="menuicon" src="{{url_for('static', filename='star.svg')}}" alt="Favoriten">
                </a>
                <a class="block" title="Logout" href="{{url_for('logout')}}" class="active">
                    <img class="menuicon" src="{{url_for('static', filename='logout.svg')}}" alt="Logout">
                </a>
            {% else %}
                <a class="block" title="Login" href="{{ url_for('login') }}" class="active">
                    <img class="menuicon" src="{{url_for('static', filename='login.svg')}}" alt="Login">
                </a>
                <a class="block" title="Registrieren" href="{{ url_for('register') }}" class="active">
                    <img class="menuicon" src="{{url_for('static', filename='registration.svg')}}" alt="Registrieren">
                </a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <div class="content">{% block content %}
        {%endblock%}
    </div>
    {% block footer %}
        <footer>
            <a class="block" title="Info" href="{{ url_for('about') }}" class="active">
                    <img class="menuicon" src="{{url_for('static', filename='info.svg')}}" alt="About">
            </a>
        </footer>
    {% endblock %}
</body>


</html>