<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block links %}
    {{ super () }}
{% endblock %}

{%block content %}
    <div class="content_links">
    <img class="plot" src="{{ url_for('tankstelle.plot_png', tankstelle_id=info['id'], datum=datum, display_e5_avg=e5_avg, display_e10_avg=e10_avg, display_diesel_avg=diesel_avg) }}">
    </div>
    <div class="content_rechts">
        <h2>{{ info['name'] }}</h2>
        <div class="tabellen">
            <table name="Aktuell" class="aktuell">
            <tr>
                <th>
                    Aktuelle Preise
                </th>
                <th></th>
            </tr>
            <tr>
               <td>E5</td>
               <td>{{ preise['e5'] }}</td>
            </tr>
            <tr>
                <td>E10</td>
                <td>{{ preise['e10'] }}</td>
            </tr>
            <tr>
                <td>Diesel</td>
                <td>{{ preise['diesel'] }}</td>
            </tr>
        </table>

            <table name="adresse" class="adresse">
             <tr>
                <th>
                    Adresse
                </th>
                <th></th>
            <tr>
               <td>Ort</td>
               <td>{{ info['place'] }}</td>
            </tr>
            <tr>
                <td>Straße</td>
                <td>{{ info['street'] }}</td>
            </tr>
            <tr>
                <td>Hausnummer</td>
                <td>{{ info['houseNumber'] }}</td>
            </tr>
        </table>
        </div>
        <form action="" method="post" name="datum_select" class="datum_select">
            <input type="date" name="datum" required="required" value="{{ datum }}"/>
            <input type="checkbox" id="e5_avg" name="e5_avg" {%if e5_avg %} checked {% endif %}/>
            <label for="e5_avg">Durchschnitt E5</label>
            <input type="checkbox" id="e10_avg" name="e10_avg" {%if e10_avg %} checked {% endif %}/>
            <label for="e10_avg">Durchschnitt E10</label>
            <input type="checkbox" id="diesel_avg" name="diesel_avg" {%if diesel_avg %} checked {% endif %}/>
            <label for="diesel_avg">Durchschnitt Diesel</label>
            <input type="checkbox" id="favorit" name="favorit" {% if markedFav %} checked {% endif %}>
            <label for="favorit">Favorit </label>
            <button type="submit" name="tag">Bestätigen</button>
        </form>
    </div>



{% endblock %}
{% block about %}
    {{ super() }}
{% endblock %}