<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block links %}
    {{ super () }}
{% endblock %}

{% block content %}

<div class="favoriten">
    <div>
        <h2>Favoriten</h2>
        <form action="{{ url_for(action) }}" method="post">
            <table>
                {%for t in tankstellen%}
                <tr>
                    <td><a href="{{ url_for('tankstelle.tankstelle', tankstelle_id=t[0]) }}"> {{ t[1] + " " + t[2] }}</a></td>
                    {% if not t[3] == Null %}
                        <td><p>{{t[3]}} €</p></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if not t[4] == Null %}
                        <td><p>{{t[4]}} €</p></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if not t[5] == Null %}
                        <td><p>{{t[5]}} €</p></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if session['loggedin'] == True %}
                        <td><input type="checkbox"  name='{{t[0]}}_checkbox' id='{{t[0]}}_checkbox' {%if t[0] in usertankstellen %} checked {% endif %}></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            {% if session['loggedin'] == True %}
                <input type="submit" value="Speichern" class="speichern_button">
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block about %}
    {{ super() }}
{% endblock %}
</html>