<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Author" content="Luca Graef, Jonas Kloos, Sven Rust">
        <meta name="description" content="Benzinpreise">
    </head>

    <body>
        <h1>Benzinpreise</h1>
        <main>
           <div>
                <h2>Deine Tankstellen:</h2>
                <ul>
                    {%for tanke in tankstellen %}
                    <li><a href="{{ url_for('tankstelle', tankstelle_id=tanke[1]) }}"> {{ tanke[0] }}</a></li>
                    {% endfor %}
                </ul>
               <button>Tankstelle hinzufügen</button>
           </div>
        </main>
    </body>
</html>