<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tankstelle</title>
</head>
<body>
    <h1>{{ tankstelle }}</h1>
    <img src="{{ url_for('plot_png', tankstelle_id=tankstelle_id, datum=datum, e5_avg=e5_avg, e10_avg=e10_avg, diesel_avg=diesel_avg) }}">
    <h2>{{ datum }}</h2>
    <h2>{{ e5_avg }}</h2>
    <form action="" method="post" name="datum_select">
        <input type="date" name="datum" required="required"/>
        <input type="checkbox" id="e5_avg" name="e5_avg"/>
        <label for="e5_avg">Duchchnitt E5</label>
        <input type="checkbox" id="e10_avg" name="e10_avg"/>
        <label for="e10_avg">Duchchnitt E10</label>
        <input type="checkbox" id="diesel_avg" name="diesel_avg"/>
        <label for="e5_avg">Duchchnitt Diesel</label>
        <button type="submit">Tag anzeigen</button>
        <submit name="tag" value="Tag anzeigen"/>
    </form>

</body>
</html>